In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
DOGE = pd.read_csv('DOGE.csv')

In [27]:
DOGE.columns

Index(['Date', 'Open(USD)', 'High(USD)', 'Low(USD)', 'Close(USD)', 'Volume',
       'Market Cap(USD)'],
      dtype='object')

In [18]:
DOGE = DOGE.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [36]:
DOGE.tail()

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD)
1770,2019-02-09,0.001969,0.002022,0.001952,0.002009,1.150091e+09,2.311062e+06
1771,2019-02-10,0.002009,0.002012,0.001958,0.001989,1.150180e+09,2.287227e+06
1772,2019-02-11,0.001989,0.002001,0.001873,0.001972,1.173383e+09,2.314455e+06
1773,2019-02-12,0.001965,0.002005,0.001885,0.001927,1.055695e+09,2.033898e+06
1774,2019-02-13,0.001973,0.002007,0.001907,0.001937,1.130234e+09,2.188989e+06

In [20]:
DOGE = DOGE.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [37]:
DOGEreindex= DOGE.reindex(index=DOGE.index[::-1])

In [38]:
DOGEreindex

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD)
1774,2019-02-13,0.001973,0.002007,0.001907,0.001937,1.130234e+09,2.188989e+06
1773,2019-02-12,0.001965,0.002005,0.001885,0.001927,1.055695e+09,2.033898e+06
1772,2019-02-11,0.001989,0.002001,0.001873,0.001972,1.173383e+09,2.314455e+06
1771,2019-02-10,0.002009,0.002012,0.001958,0.001989,1.150180e+09,2.287227e+06
1770,2019-02-09,0.001969,0.002022,0.001952,0.002009,1.150091e+09,2.311062e+06
1769,2019-02-08,0.001931,0.001983,0.001914,0.001969,1.174367e+09,2.312449e+06
1768,2019-02-07,0.001858,0.001945,0.001831,0.001931,1.169249e+09,2.258329e+06
1767,2019-02-06,0.001979,0.001983,0.001852,0.001858,1.122589e+09,2.085756e+06
1766,2019-02-05,0.002014,0.002014,0.001906,0.001978,1.132503e+09,2.240636e+06
1765,2019-02-04,0.002012,0.002094,0.001881,0.002015,1.162927e+09,2.342976e+06
1764,2019-02-03,0.001957,0.002041,0.001907,0.002011,1.159951e+09,2.333186e+06
1763,2019-02-02,0.001972,0.002088,0.001912,0.001956,8.461869e+08,1.655275e+06
1762,2019-02-01,0.002016,0.002017,0.001910,0.001971,1.112223e+09,2.191947e+06
1761,2019-01-31,0.002056,0.002081,0.001941,0.002017,1.187257e+09,2.394256e+06
1760,2019-01-30,0.001986,0.002057,0.001923,0.002056,1.169530e+09,2.404067e+06
1759,2019-01-29,0.002077,0.002097,0.001944,0.001986,1.129547e+09,2.243836e+06
1758,2019-01-28,0.002136,0.002152,0.002005,0.002084,1.081994e+09,2.255026e+06
1757,2019-01-27,0.002194,0.002218,0.002059,0.002135,1.051824e+09,2.246133e+06
1756,2019-01-26,0.002192,0.002223,0.002088,0.002181,1.158208e+09,2.526244e+06
1755,2019-01-25,0.002180,0.002195,0.002032,0.002190,1.160201e+09,2.540355e+06
1754,2019-01-24,0.002193,0.002204,0.002032,0.002181,1.132323e+09,2.470153e+06
1753,2019-01-23,0.002206,0.002221,0.002109,0.002199,1.109392e+09,2.439717e+06
1752,2019-01-22,0.002208,0.002225,0.002109,0.002206,1.129473e+09,2.491863e+06
1751,2019-01-21,0.002178,0.002233,0.002101,0.002208,1.155141e+09,2.550533e+06
1750,2019-01-20,0.002255,0.002257,0.002107,0.002179,1.146522e+09,2.498234e+06
1749,2019-01-19,0.002223,0.002261,0.002101,0.002256,1.174179e+09,2.649435e+06
1748,2019-01-18,0.002130,0.002257,0.002129,0.002223,1.111753e+09,2.470977e+06
1747,2019-01-17,0.002277,0.002282,0.002112,0.002129,9.302821e+08,1.980968e+06
1746,2019-01-16,0.002164,0.002280,0.002104,0.002276,1.187133e+09,2.702305e+06
1745,2019-01-15,0.002289,0.002392,0.002139,0.002164,1.106353e+09,2.394665e+06
...,...,...,...,...,...,...,...
29,2014-05-04,0.000539,0.000679,0.000532,0.000532,5.610339e+05,2.981901e+02
28,2014-05-03,0.000556,0.000598,0.000500,0.000539,2.077722e+06,1.120590e+03
27,2014-05-02,0.000549,0.000690,0.000549,0.000556,3.850230e+05,2.139997e+02
26,2014-05-01,0.000546,0.000565,0.000495,0.000549,2.235657e+06,1.227169e+03
25,2014-04-30,0.000527,0.000580,0.000501,0.000546,1.367096e+05,7.468615e+01
24,2014-04-29,0.000558,0.000579,0.000527,0.000527,2.802975e+06,1.476275e+03
23,2014-04-28,0.000500,0.000593,0.000498,0.000558,3.034388e+06,1.694686e+03
22,2014-04-27,0.000564,0.000568,0.000499,0.000500,3.155553e+06,1.578080e+03
21,2014-04-26,0.000654,0.000658,0.000562,0.000564,3.404712e+06,1.918804e+03
20,2014-04-25,0.000660,0.000679,0.000576,0.000654,6.314081e+06,4.128075e+03
19,2014-04-24,0.000626,0.001062,0.000600,0.000660,2.752450e+06,1.816446e+03
18,2014-04-23,0.000700,0.000700,0.000626,0.000626,2.012286e+06,1.259888e+03
17,2014-04-22,0.000680,0.000705,0.000665,0.000700,2.245733e+06,1.572013e+03
16,2014-04-21,0.000680,0.000738,0.000680,0.000680,2.914728e+06,1.982015e+03
15,2014-04-20,0.000700,0.000741,0.000680,0.000680,1.560917e+06,1.061423e+03
14,2014-04-19,0.000650,0.000742,0.000650,0.000700,4.408209e+05,3.085746e+02
13,2014-04-18,0.000700,0.000750,0.000650,0.000650,5.252778e+06,3.414306e+03
12,2014-04-17,0.000760,0.000780,0.000650,0.000700,2.629726e+06,1.840808e+03
11,2014-04-16,0.000590,0.000850,0.000590,0.000760,2.546478e+06,1.935349e+03
10,2014-04-15,0.000500,0.000590,0.000490,0.000560,2.013741e+06,1.127695e+03
9,2014-04-14,0.000450,0.000500,0.000450,0.000500,8.070191e+05,4.035096e+02
8,2014-04-13,0.000547,0.000547,0.000450,0.000450,1.148551e+06,5.168480e+02
7,2014-04-12,0.000500,0.000547,0.000440,0.000547,1.222264e+06,6.685783e+02
6,2014-04-11,0.000420,0.000547,0.000420,0.000500,1.091523e+06,5.457615e+02
5,2014-04-10,0.000560,0.000560,0.000350,0.000420,5.656071e+06,2.375550e+03
4,2014-04-09,0.000567,0.000570,0.000520,0.000560,2.567181e+06,1.437621e+03
3,2014-04-08,0.000589,0.000589,0.000500,0.000567,1.827177e+06,1.036905e+03
2,2014-04-07,0.000590,0.000590,0.000500,0.000589,3.711035e+06,2.187655e+03
1,2014-04-06,0.000541,0.000590,0.000541,0.000590,1.005976e+06,5.935763e+02
0,2014-04-05,0.000570,0.000570,0.000541,0.000541,2.699868e+06,1.459279e+03

In [39]:
DOGEreshape = DOGEreindex.drop(DOGEreindex.index[327:])#.drop(DOGEreindex.index[0])

In [40]:
DOGEreshape.shape

(327, 7)

In [44]:
DOGEreshape = DOGEreshape.drop(DOGEreindex.index[0])

In [47]:
DOGEreshape.to_csv("DOGE.csv")

In [17]:
BTC.shape

(1779, 7)

In [20]:
BTC.to_csv('BTC.csv')

In [21]:
ETH = pd.read_csv('ETH.csv')

In [23]:
ETH.head()

,date,1a. open (USD),2a. high (USD),3a. low (USD),4a. close (USD),5. volume,6. market cap (USD)
0,2015-08-08,3.00000,3.00000,0.15000,1.19999,1942.888147,2331.446348
1,2015-08-09,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
2,2015-08-10,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
3,2015-08-11,1.19999,1.19999,0.65038,0.99000,9234.568705,9142.223018
4,2015-08-12,0.99000,1.28800,0.90500,1.28800,1736.114983,2236.116098

In [24]:
ETH = ETH.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [25]:
ETH.to_csv('ETH.csv')

In [26]:
XRP = pd.read_csv('XRP.csv')

In [29]:
XRP.head()

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD)
0,2014-04-09,0.009407,0.009407,0.008333,0.008333,1658.399999,13.820000
1,2014-04-10,0.008333,0.008333,0.006796,0.006796,10037.029375,68.216000
2,2014-04-11,0.006796,0.006983,0.006727,0.006727,184.338400,1.240000
3,2014-04-12,0.006727,0.006893,0.006727,0.006880,7965.670792,54.803000
4,2014-04-13,0.006880,0.006880,0.006515,0.006515,91.700000,0.597468

In [27]:
XRP = XRP.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [28]:
XRP.to_csv('XRP.csv')