In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
BTC = pd.read_csv('BTC.csv')

In [9]:
BTC.columns

Index(['date', '1a. open (USD)', '2a. high (USD)', '3a. low (USD)',
       '4a. close (USD)', '5. volume', '6. market cap (USD)'],
      dtype='object')

In [15]:
BTC = BTC.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [16]:
BTC.head()

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD)
0,2014-04-01,468.480106,491.267273,468.480106,479.023434,62894.683068,3.012803e+07
1,2014-04-02,479.679615,494.111337,430.725909,438.377824,96314.587552,4.222218e+07
2,2014-04-03,437.322089,452.441405,414.811104,446.819755,74292.749549,3.319547e+07
3,2014-04-04,448.597144,457.327172,429.184117,451.645992,39267.667348,1.773508e+07
4,2014-04-05,450.027798,466.385470,445.107783,464.379322,21574.144537,1.001859e+07

In [17]:
BTC.shape

(1779, 7)

In [20]:
BTC.to_csv('BTC.csv')

In [21]:
ETH = pd.read_csv('ETH.csv')

In [23]:
ETH.head()

,date,1a. open (USD),2a. high (USD),3a. low (USD),4a. close (USD),5. volume,6. market cap (USD)
0,2015-08-08,3.00000,3.00000,0.15000,1.19999,1942.888147,2331.446348
1,2015-08-09,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
2,2015-08-10,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
3,2015-08-11,1.19999,1.19999,0.65038,0.99000,9234.568705,9142.223018
4,2015-08-12,0.99000,1.28800,0.90500,1.28800,1736.114983,2236.116098

In [24]:
ETH = ETH.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [25]:
ETH.to_csv('ETH.csv')

In [26]:
XRP = pd.read_csv('XRP.csv')

In [29]:
XRP.head()

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD)
0,2014-04-09,0.009407,0.009407,0.008333,0.008333,1658.399999,13.820000
1,2014-04-10,0.008333,0.008333,0.006796,0.006796,10037.029375,68.216000
2,2014-04-11,0.006796,0.006983,0.006727,0.006727,184.338400,1.240000
3,2014-04-12,0.006727,0.006893,0.006727,0.006880,7965.670792,54.803000
4,2014-04-13,0.006880,0.006880,0.006515,0.006515,91.700000,0.597468

In [27]:
XRP = XRP.rename(columns={"1a. open (USD)": "Open(USD)","2a. high (USD)": "High(USD)", 
                    '3a. low (USD)':'Low(USD)', '4a. close (USD)':'Close(USD)', 
                   '5. volume': 'Volume', '6. market cap (USD)': 'Market Cap(USD)','date': 'Date' })

In [28]:
XRP.to_csv('XRP.csv')