In [231]:
import pandas as pd
import matplotlib.pyplot as plt

In [232]:
BTC = pd.read_csv('BTC_reshaped.csv').drop(['Unnamed: 0'], axis=1)
ETH = pd.read_csv('ETH_reshaped.csv').drop(['Unnamed: 0'], axis=1)
XRP = pd.read_csv('XRP_reshaped.csv').drop(['Unnamed: 0'], axis=1)
WAN = pd.read_csv('WAN_reshaped.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 0.1'], axis=1)
ELA = pd.read_csv('ELA_reshaped.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 0.1'], axis=1)
KCS = pd.read_csv('KCS_reshaped.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 0.1'], axis=1)

In [233]:
BTC.head()

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD),Close Percent Change
0,2019-02-11,3688.165812,3688.165812,3643.486916,3643.486916,99465.506899,3.624013e+08,-0.011796
1,2019-02-10,3665.620107,3686.977610,3646.055226,3686.977610,90821.959071,3.348585e+08,0.005950
2,2019-02-09,3658.797145,3677.295278,3638.126429,3665.169880,90479.606316,3.316231e+08,0.001853
3,2019-02-08,3386.894877,3711.531448,3374.436212,3658.389649,168313.325618,6.157557e+08,0.079010
4,2019-02-07,3404.400116,3413.601426,3385.035006,3390.505404,93880.484239,3.183023e+08,-0.004367

In [234]:
BTC = BTC.rename(columns={"Close Percent Change": "CPC1"})
ETH = ETH.rename(columns={"Close Percent Change": "CPC2"})
XRP = XRP.rename(columns={"Close Percent Change": "CPC3"})
WAN = WAN.rename(columns={"Close Percent Change": "CPC4"})
ELA = ELA.rename(columns={"Close Percent Change": "CPC5"})
KCS = KCS.rename(columns={"Close Percent Change": "CPC6"})

In [235]:
pct_change = pd.concat([BTC.loc[:, ['Date']], BTC.loc[:, ['CPC1']],
                        ETH.loc[:, ['CPC2']], XRP.loc[:, ['CPC3']],
                        WAN.loc[:, ['CPC4']],
                       ELA.loc[:, ['CPC5']], KCS.loc[:, ['CPC6']]], axis=1, join_axes=[BTC.index])

In [236]:
pct_change.columns

Index(['Date', 'CPC1', 'CPC2', 'CPC3', 'CPC4', 'CPC5', 'CPC6'], dtype='object')

In [237]:
pct_change.columns[3]

'CPC3'

In [238]:
pct_change = pct_change.rename(columns={ pct_change.columns[1]: "BTC Pct Change", 
                                        pct_change.columns[2]: "ETH Pct Change",
                                       pct_change.columns[3]: "XRP Pct Change",
                                        pct_change.columns[4]: "WAN Pct Change",
                                       pct_change.columns[5]: "ELA Pct Change",
                                       pct_change.columns[6]: "KCS Pct Change"})

In [239]:
pct_change.head()

,Date,BTC Pct Change,ETH Pct Change,XRP Pct Change,WAN Pct Change,ELA Pct Change,KCS Pct Change
0,2019-02-11,-0.011796,-0.030340,-0.014931,-0.005855,0.056338,0.033865
1,2019-02-10,0.005950,0.043197,-0.005581,-0.005638,0.048889,0.029143
2,2019-02-09,0.001853,0.001024,-0.004431,-0.006793,-0.033898,0.008204
3,2019-02-08,0.079010,0.148601,0.069894,0.009547,0.008772,-0.013459
4,2019-02-07,-0.004367,-0.003487,0.007248,-0.070038,-0.082609,-0.053657

In [240]:
pct_change_tf = pct_change

In [241]:
pct_change['BTC Pct Change'][0]

-0.011795757603712877

In [242]:
pct_change_tf['BTC Pct Change'][0]

-0.011795757603712877

In [243]:
len(pct_change['BTC Pct Change'])

325

In [244]:
pct_change_tf.columns

Index(['Date', 'BTC Pct Change', 'ETH Pct Change', 'XRP Pct Change',
       'WAN Pct Change', 'ELA Pct Change', 'KCS Pct Change'],
      dtype='object')

In [245]:
for col in pct_change.columns:
    if col != 'Date':
        for i in list(range(0, len(pct_change[col]))):
            if pct_change[col][i] > 0:
                pct_change_tf[col][i] =True
            else: 
                pct_change_tf[col][i] =False

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [247]:
pct_change_tf.head()

,Date,BTC Pct Change,ETH Pct Change,XRP Pct Change,WAN Pct Change,ELA Pct Change,KCS Pct Change
0,2019-02-11,False,False,False,False,True,True
1,2019-02-10,True,True,False,False,True,True
2,2019-02-09,True,True,False,False,False,True
3,2019-02-08,True,True,True,True,True,False
4,2019-02-07,False,False,True,False,False,False

In [257]:
tot_pos = {}
for col in pct_change_tf.columns:
    if col != 'Date':
        tot_pos[col] = round((sum(pct_change_tf[col])/len(pct_change_tf[col]))*100, 2)

In [258]:
tot_pos

{'BTC Pct Change': 49.85,
 'ETH Pct Change': 46.77,
 'XRP Pct Change': 47.38,
 'WAN Pct Change': 52.0,
 'ELA Pct Change': 53.85,
 'KCS Pct Change': 51.69}

In [260]:
pct_change.to_csv('Pct_change_t3_b3.csv')
pct_change_tf.to_csv('Pct_change_True_False.csv')