In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
# BTC = pd.read_csv('BTC.csv').drop(['Unnamed: 0'], axis=1)
# ETH = pd.read_csv('ETH.csv').drop(['Unnamed: 0'], axis=1)
# XRP = pd.read_csv('XRP.csv').drop(['Unnamed: 0'], axis=1)
# WAN = pd.read_csv('WAN').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
# ELA = pd.read_csv('ELA').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
# KCS = pd.read_csv('KCS').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
VET = pd.read_csv('VET.csv').drop(['Unnamed: 0'], axis = 1)#, axis=1).drop(['Unnamed: 1'], axis=1)
AOA = pd.read_csv('AOA.csv')#.drop(['Unnamed: 0'])#, axis=1).drop(['Unnamed: 1'], axis=1)
#AE = pd.read_csv('AE.csv').drop(['Unnamed: 0'])#, axis=1).drop(['Unnamed: 1'], axis=1)
#TUSD = pd.read_csv('TUSD.csv').drop(['Unnamed: 0']#, axis=1).drop(['Unnamed: 1'], axis=1)
#XVG = pd.read_csv('XVG.csv').drop(['Unnamed: 0']#, axis=1).drop(['Unnamed: 1'], axis=1)
#STRAT = pd.read_csv('STRAT.csv').drop(['Unnamed: 0']#, axis=1).drop(['Unnamed: 1'], axis=1)
#QNT = pd.read_csv('QNT.csv').drop(['Unnamed: 0']#, axis=1).drop(['Unnamed: 1'], axis=1)
#LRC = pd.read_csv('LRC.csv').drop(['Unnamed: 0']#, axis=1).drop(['Unnamed: 1'], axis=1)
#DOGE = pd.read_csv('DOGE.csv').drop(['Unnamed: 0'], axis=1)

In [14]:
VET.columns

Index(['Date', 'Open*', 'High', 'Low', 'Close**', 'Volume', 'Market Cap',
       'Close Percent Change'],
      dtype='object')

In [15]:
VET.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap,Close Percent Change
0,"Feb 11, 2019",0.004048,0.004048,0.003908,0.003909,"3,260,261","216,769,109",NaN
1,"Feb 10, 2019",0.004022,0.004131,0.003939,0.004044,"5,229,670","224,236,626",0.034536
2,"Feb 09, 2019",0.003982,0.004019,0.003900,0.004006,"3,591,370","222,158,015",-0.009397
3,"Feb 08, 2019",0.003693,0.004055,0.003656,0.003966,"5,403,796","219,930,760",-0.009985
4,"Feb 07, 2019",0.003640,0.003762,0.003626,0.003694,"3,386,472","204,868,148",-0.068583

In [137]:
newsymbols= ['VET','AOA', 'AE', 'TUSD', 'XVG', 'STRAT', 'QNT', 'LRC', 'DOGE']

In [138]:
DOGE.shape

(326, 7)

In [139]:
DOGE_close = DOGE.loc[:, ['Close(USD)']].values

In [140]:
DOGE_close

array([[0.0019266 ],
       [0.00197246],
       [0.00198858],
       [0.00200946],
       [0.0019691 ],
       [0.00193144],
       [0.00185799],
       [0.00197848],
       [0.00201472],
       [0.00201145],
       [0.00195616],
       [0.00197078],
       [0.00201663],
       [0.00205558],
       [0.00198649],
       [0.00208414],
       [0.00213546],
       [0.00218117],
       [0.00218958],
       [0.00218149],
       [0.00219915],
       [0.00220622],
       [0.00220798],
       [0.00217897],
       [0.00225641],
       [0.00222259],
       [0.00212943],
       [0.00227633],
       [0.00216447],
       [0.00228669],
       [0.00212598],
       [0.00226821],
       [0.00223229],
       [0.00228875],
       [0.00231141],
       [0.0022828 ],
       [0.00228696],
       [0.00233228],
       [0.00242191],
       [0.00242349],
       [0.00248848],
       [0.00251316],
       [0.00251736],
       [0.0024584 ],
       [0.00246119],
       [0.00249589],
       [0.00251462],
       [0.00242103],
       [0.00252071],
       [0.00251331],
       [0.00262836],
       [0.00261217],
       [0.00260313],
       [0.00265909],
       [0.00278437],
       [0.00282046],
       [0.00264459],
       [0.00264862],
       [0.00217562],
       [0.00215478],
       [0.00217283],
       [0.0021799 ],
       [0.00216951],
       [0.00216333],
       [0.00216987],
       [0.00217798],
       [0.00225734],
       [0.00221808],
       [0.00225788],
       [0.00231463],
       [0.00232132],
       [0.00231004],
       [0.00231824],
       [0.00233305],
       [0.0022707 ],
       [0.00232747],
       [0.00232366],
       [0.00222889],
       [0.00220333],
       [0.00231862],
       [0.00234936],
       [0.00243434],
       [0.00248158],
       [0.00255136],
       [0.00244912],
       [0.00259136],
       [0.0027763 ],
       [0.00278617],
       [0.00295928],
       [0.0030636 ],
       [0.00300439],
       [0.00308081],
       [0.00315356],
       [0.00325568],
       [0.00341684],
       [0.00323416],
       [0.00350155],
       [0.00366651],
       [0.00375848],
       [0.0036919 ],
       [0.00380818],
       [0.00383086],
       [0.00391375],
       [0.00390505],
       [0.00392852],
       [0.00392414],
       [0.00388836],
       [0.00406781],
       [0.00417399],
       [0.00389816],
       [0.00373721],
       [0.00393406],
       [0.00420181],
       [0.00436983],
       [0.00451024],
       [0.00453479],
       [0.00451772],
       [0.00435486],
       [0.00453279],
       [0.00497649],
       [0.00513562],
       [0.00514252],
       [0.00515573],
       [0.00522374],
       [0.00494936],
       [0.00559905],
       [0.00560747],
       [0.00560758],
       [0.00554684],
       [0.00553274],
       [0.00565268],
       [0.00568671],
       [0.00572653],
       [0.00584076],
       [0.00596572],
       [0.00589865],
       [0.00586636],
       [0.00591339],
       [0.0058893 ],
       [0.00574769],
       [0.00570029],
       [0.00573773],
       [0.00584898],
       [0.00579237],
       [0.00567946],
       [0.00570552],
       [0.00563469],
       [0.00604959],
       [0.00622726],
       [0.006438  ],
       [0.0061726 ],
       [0.00617414],
       [0.00651832],
       [0.00645531],
       [0.00639668],
       [0.00675572],
       [0.00580376],
       [0.00566772],
       [0.00532129],
       [0.0049798 ],
       [0.00500819],
       [0.00524075],
       [0.0052039 ],
       [0.00489282],
       [0.00609017],
       [0.00430616],
       [0.00306731],
       [0.00259473],
       [0.00254486],
       [0.00249279],
       [0.00243256],
       [0.00245048],
       [0.00244819],
       [0.00239038],
       [0.00248925],
       [0.00247892],
       [0.00250133],
       [0.00247744],
       [0.00247095],
       [0.00247584],
       [0.00233125],
       [0.00241738],
       [0.00223586],
       [0.00245512],
       [0.00248467],
       [0.00261065],
       [0.00259432],
       [0.00264179],
       [0.00254835],
       [0.0028069 ],
       [0.00284684],
       [0.00295291],
       [0.00292667],
       [0.0029784 ],
       [0.00306678],
       [0.00303629],
       [0.00315678],
       [0.00325604],
       [0.00327651],
       [0.00338024],
       [0.00344212],
       [0.00346835],
       [0.00343477],
       [0.00360033],
       [0.00343524],
       [0.00347163],
       [0.00338203],
       [0.00335138],
       [0.00383098],
       [0.00370785],
       [0.00306304],
       [0.00259977],
       [0.00242557],
       [0.00235828],
       [0.00240705],
       [0.00238019],
       [0.00242855],
       [0.00250429],
       [0.00259077],
       [0.00262929],
       [0.0026111 ],
       [0.00261782],
       [0.00261406],
       [0.00269924],
       [0.00268043],
       [0.00254215],
       [0.00253103],
       [0.00251781],
       [0.00244833],
       [0.00243082],
       [0.00243443],
       [0.00248967],
       [0.00252748],
       [0.00252226],
       [0.00268448],
       [0.00285538],
       [0.003079  ],
       [0.0030843 ],
       [0.00314883],
       [0.00304224],
       [0.00301751],
       [0.00293151],
       [0.00294779],
       [0.00301208],
       [0.00306217],
       [0.00320031],
       [0.00322909],
       [0.00338611],
       [0.00369233],
       [0.00368183],
       [0.00376561],
       [0.00369243],
       [0.0036124 ],
       [0.00360813],
       [0.00365606],
       [0.00354051],
       [0.00342994],
       [0.00349838],
       [0.00341627],
       [0.00342296],
       [0.0033651 ],
       [0.00356242],
       [0.00359152],
       [0.00359315],
       [0.00359523],
       [0.00372598],
       [0.004215  ],
       [0.0042913 ],
       [0.00439845],
       [0.00436269],
       [0.00427436],
       [0.00438399],
       [0.00442684],
       [0.00452039],
       [0.00445898],
       [0.00451689],
       [0.00429528],
       [0.00458093],
       [0.00499616],
       [0.00506275],
       [0.00525359],
       [0.00487618],
       [0.0050058 ],
       [0.00521983],
       [0.00526626],
       [0.00541601],
       [0.00536348],
       [0.00528027],
       [0.00536881],
       [0.00546367],
       [0.00550702],
       [0.00550872],
       [0.00539223],
       [0.0051833 ],
       [0.00585556],
       [0.00562007],
       [0.00564176],
       [0.00550981],
       [0.00589512],
       [0.00570986],
       [0.00530658],
       [0.00489742],
       [0.00452136],
       [0.00437724],
       [0.00424298],
       [0.00415301],
       [0.00350726],
       [0.00336743],
       [0.00294304],
       [0.0028044 ],
       [0.00287017],
       [0.00282978],
       [0.00270612],
       [0.00276497],
       [0.00276409],
       [0.00303731],
       [0.00293235],
       [0.00283735],
       [0.00287597],
       [0.00292705],
       [0.00317658],
       [0.00334604],
       [0.00325329],
       [0.00335271],
       [0.00359276],
       [0.00368941]])

In [141]:
DOGE.loc[:, ['Close(USD)']].head()

   Close(USD)
0    0.001927
1    0.001972
2    0.001989
3    0.002009
4    0.001969

In [142]:
newsymbols

['VET', 'AOA', 'AE', 'TUSD', 'XVG', 'STRAT', 'QNT', 'LRC', 'DOGE']

In [143]:
VET

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,"Feb 11, 2019",0.004048,0.004048,0.003908,0.003909,"3,260,261","216,769,109"
1,"Feb 10, 2019",0.004022,0.004131,0.003939,0.004044,"5,229,670","224,236,626"
2,"Feb 09, 2019",0.003982,0.004019,0.003900,0.004006,"3,591,370","222,158,015"
3,"Feb 08, 2019",0.003693,0.004055,0.003656,0.003966,"5,403,796","219,930,760"
4,"Feb 07, 2019",0.003640,0.003762,0.003626,0.003694,"3,386,472","204,868,148"
5,"Feb 06, 2019",0.003774,0.003784,0.003620,0.003637,"4,506,774","201,682,749"
6,"Feb 05, 2019",0.003820,0.003852,0.003757,0.003786,"4,009,846","209,969,687"
7,"Feb 04, 2019",0.003865,0.003876,0.003786,0.003827,"3,435,089","212,240,113"
8,"Feb 03, 2019",0.003937,0.003949,0.003830,0.003864,"2,778,666","214,289,699"
9,"Feb 02, 2019",0.003917,0.003952,0.003866,0.003952,"2,829,236","219,142,902"
10,"Feb 01, 2019",0.003910,0.003957,0.003817,0.003928,"3,570,933","217,801,451"
11,"Jan 31, 2019",0.004024,0.004069,0.003823,0.003909,"6,030,416","216,756,030"
12,"Jan 30, 2019",0.003915,0.004112,0.003861,0.004038,"4,808,429","223,915,159"
13,"Jan 29, 2019",0.003949,0.004009,0.003777,0.003906,"4,799,851","216,610,838"
14,"Jan 28, 2019",0.004175,0.004181,0.003796,0.003934,"7,382,324","218,186,086"
15,"Jan 27, 2019",0.004385,0.004385,0.004071,0.004165,"6,486,434","230,992,788"
16,"Jan 26, 2019",0.004342,0.004427,0.004342,0.004377,"4,879,760","242,701,241"
17,"Jan 25, 2019",0.004417,0.004436,0.004304,0.004347,"4,715,534","241,034,601"
18,"Jan 24, 2019",0.004403,0.004449,0.004258,0.004410,"6,306,102","244,570,928"
19,"Jan 23, 2019",0.004569,0.004582,0.004318,0.004391,"9,733,085","243,483,582"
20,"Jan 22, 2019",0.004129,0.004575,0.004117,0.004568,"14,820,175","253,317,355"
21,"Jan 21, 2019",0.004019,0.004234,0.004017,0.004130,"6,977,052","229,017,737"
22,"Jan 20, 2019",0.004123,0.004243,0.003915,0.004012,"5,761,503","222,470,882"
23,"Jan 19, 2019",0.004086,0.004256,0.004062,0.004138,"5,533,946","229,468,602"
24,"Jan 18, 2019",0.004260,0.004286,0.004009,0.004076,"6,375,463","226,035,211"
25,"Jan 17, 2019",0.004006,0.004323,0.003951,0.004262,"11,020,121","236,373,282"
26,"Jan 16, 2019",0.003942,0.004008,0.003894,0.003994,"4,977,149","221,473,436"
27,"Jan 15, 2019",0.004055,0.004071,0.003892,0.003929,"3,254,718","217,906,652"
28,"Jan 14, 2019",0.003785,0.004084,0.003785,0.004043,"5,054,733","224,223,809"
29,"Jan 13, 2019",0.004013,0.004044,0.003750,0.003785,"5,438,369","209,906,510"
...,...,...,...,...,...,...,...
164,"Aug 31, 2018",0.017229,0.017558,0.016626,0.017143,"29,320,200","950,677,155"
165,"Aug 30, 2018",0.016953,0.017341,0.015660,0.017341,"26,699,000","961,618,374"
166,"Aug 29, 2018",0.017981,0.018113,0.016611,0.016924,"36,464,600","938,504,841"
167,"Aug 28, 2018",0.017839,0.018756,0.017549,0.017979,"45,607,800","997,048,404"
168,"Aug 27, 2018",0.015222,0.017855,0.015210,0.017823,"53,968,100","988,397,466"
169,"Aug 26, 2018",0.015390,0.015446,0.014512,0.015233,"20,503,900","844,719,793"
170,"Aug 25, 2018",0.014552,0.015735,0.014244,0.015413,"24,453,700","854,712,737"
171,"Aug 24, 2018",0.014743,0.014743,0.013981,0.014535,"19,980,000","806,056,752"
172,"Aug 23, 2018",0.013686,0.014784,0.013629,0.014674,"31,250,400","813,737,233"
173,"Aug 22, 2018",0.015461,0.016250,0.012490,0.013787,"67,288,000","764,576,611"
174,"Aug 21, 2018",0.012951,0.015805,0.012951,0.015389,"49,710,400","853,387,368"
175,"Aug 20, 2018",0.014275,0.014877,0.013032,0.013057,"38,838,000","724,061,381"
176,"Aug 19, 2018",0.012711,0.014422,0.012263,0.014374,"36,557,300","797,111,903"
177,"Aug 18, 2018",0.014950,0.014950,0.011119,0.012732,"49,994,400","706,027,502"
178,"Aug 17, 2018",0.011227,0.015232,0.010868,0.015031,"94,427,600","833,556,755"
179,"Aug 16, 2018",0.007899,0.011601,0.007744,0.011221,"51,160,900","622,279,761"
180,"Aug 15, 2018",0.007768,0.008747,0.007663,0.007891,"22,410,600","437,592,758"
181,"Aug 14, 2018",0.007204,0.007736,0.006116,0.007736,"22,264,400","429,015,019"
182,"Aug 13, 2018",0.009090,0.009201,0.006960,0.007168,"16,989,000","397,515,621"
183,"Aug 12, 2018",0.009195,0.009752,0.009024,0.009080,"8,428,220","503,522,892"
184,"Aug 11, 2018",0.009682,0.009753,0.008724,0.009192,"12,731,100","509,765,986"
185,"Aug 10, 2018",0.011666,0.012135,0.009460,0.009747,"36,278,100","540,526,727"
186,"Aug 09, 2018",0.010761,0.012022,0.010316,0.011683,"32,613,700","647,872,121"
187,"Aug 08, 2018",0.012858,0.013021,0.010402,0.010776,"22,236,100","597,558,040"
188,"Aug 07, 2018",0.013315,0.014457,0.012163,0.012899,"21,022,400","715,321,715"
189,"Aug 06, 2018",0.013963,0.014308,0.012930,0.013424,"18,774,100","744,440,996"
190,"Aug 05, 2018",0.013428,0.014295,0.012696,0.014081,"19,746,000","780,858,121"
191,"Aug 04, 2018",0.015218,0.015944,0.012377,0.013333,"27,059,500","739,350,252"
192,"Aug 03, 2018",0.015041,0.015730,0.014938,0.015307,"46,250,600","848,840,080"
193,NaN,Yesterday's Volume,NaN,NaN,"$3,182,996 USD",NaN,NaN

In [144]:
TUSD.tail()

             Date     Open*  High       Low   Close**     Volume Market Cap
320  Mar 28, 2018  0.992560  1.02  0.986810  1.000000    951,963  7,926,175
321  Mar 27, 2018  0.998520  1.02  0.989418  0.999424  2,200,920  7,919,550
322  Mar 26, 2018  0.994993  1.01  0.982498  1.000000  2,587,900  7,931,801
323  Mar 25, 2018  0.990601  1.01  0.987590  0.995833    825,428  7,891,095
324  Mar 24, 2018  1.000000  1.01  0.987376  0.998900    967,029  7,915,398

In [172]:
VET.shape

(193, 8)

In [163]:
VET.drop(VET.tail(1).index,inplace=True)

In [164]:
VET.tail

,Date,Open*,High,Low,Close**,Volume,Market Cap
188,"Aug 07, 2018",0.013315,0.014457,0.012163,0.012899,"21,022,400","715,321,715"
189,"Aug 06, 2018",0.013963,0.014308,0.012930,0.013424,"18,774,100","744,440,996"
190,"Aug 05, 2018",0.013428,0.014295,0.012696,0.014081,"19,746,000","780,858,121"
191,"Aug 04, 2018",0.015218,0.015944,0.012377,0.013333,"27,059,500","739,350,252"
192,"Aug 03, 2018",0.015041,0.015730,0.014938,0.015307,"46,250,600","848,840,080"

In [165]:
DOGE_close_pctchange = DOGE.loc[:, ['Close(USD)']].pct_change().drop([0])

TUSD_close_pctchange = pd.to_numeric(TUSD.loc[:,'Close**']).pct_change().drop([0])
XVG_close_pctchange = pd.to_numeric(XVG.loc[:,'Close**']).pct_change().drop([0])
STRAT_close_pctchange = pd.to_numeric(STRAT.loc[:,'Close**']).pct_change().drop([0])
QNT_close_pctchange = pd.to_numeric(QNT.loc[:,'Close**']).pct_change().drop([0])
LRC_close_pctchange = pd.to_numeric(LRC.loc[:,'Close**']).pct_change().drop([0])
AOA_close_pctchange = pd.to_numeric(AOA.loc[:,'Close**']).pct_change().drop([0])
AE_close_pctchange = pd.to_numeric(AE.loc[:,'Close**']).pct_change().drop([0])
VET_close_pctchange = pd.to_numeric(VET.loc[:,'Close**']).pct_change().drop([0])
# LRC_close_pctchange = pd.to_numeric(KCS.drop([476, 476]).loc[:,'Close**']).pct_change()
# TUSD_close_pctchange = pd.to_numeric(WAN.drop([326, 326]).loc[:,'Close**']).pct_change()

In [166]:
VET_close_pctchange

1      0.034536
2     -0.009397
3     -0.009985
4     -0.068583
5     -0.015430
6      0.040968
7      0.010829
8      0.009668
9      0.022774
10    -0.006073
11    -0.004837
12     0.033001
13    -0.032689
14     0.007168
15     0.058719
16     0.050900
17    -0.006854
18     0.014493
19    -0.004308
20     0.040310
21    -0.095884
22    -0.028571
23     0.031406
24    -0.014983
25     0.045633
26    -0.062881
27    -0.016274
28     0.029015
29    -0.063814
30     0.062087
         ...
163    0.020264
164   -0.056833
165    0.011550
166   -0.024047
167    0.062338
168   -0.008677
169   -0.145318
170    0.011816
171   -0.056965
172    0.009563
173   -0.060447
174    0.116196
175   -0.151537
176    0.100865
177   -0.114234
178    0.180569
179   -0.253476
180   -0.296765
181   -0.019643
182   -0.073423
183    0.266741
184    0.012335
185    0.060379
186    0.198625
187   -0.077634
188    0.197012
189    0.040701
190    0.048942
191   -0.053121
192    0.148054
Name: Close**, Length: 192, dtype: float64

In [167]:
newsymbols

['VET', 'AOA', 'AE', 'TUSD', 'XVG', 'STRAT', 'QNT', 'LRC', 'DOGE']

In [168]:
VET['Close Percent Change'] = VET_close_pctchange
AOA['Close Percent Change'] = AOA_close_pctchange
AE['Close Percent Change'] = AE_close_pctchange
TUSD['Close Percent Change'] = TUSD_close_pctchange
XVG['Close Percent Change'] = XVG_close_pctchange
STRAT['Close Percent Change'] = STRAT_close_pctchange
QNT['Close Percent Change'] = QNT_close_pctchange
LRC['Close Percent Change'] = LRC_close_pctchange
DOGE['Close Percent Change'] = DOGE_close_pctchange

In [170]:
import pandas as pd

In [173]:
VET.shape, AOA.shape, AE.shape, TUSD.shape, XVG.shape, STRAT.shape, QNT.shape, LRC.shape, DOGE.shape

((193, 8),
 (231, 8),
 (325, 8),
 (325, 8),
 (325, 8),
 (325, 8),
 (186, 8),
 (325, 8),
 (326, 8))

In [174]:
VET.to_csv('VET.csv')
AOA.to_csv('AOA.csv')
AE.to_csv('AE.csv')
STRAT.to_csv('STRAT.csv')
XVG.to_csv('XVG.csv')
STRAT.to_csv('STRAT.csv')
LRC.to_csv('LRC.csv')
DOGE.to_csv('DOGE.csv')
TUSD.to_csv('TUSD.csv')
QNT.to_csv('QNT.csv')

Comparison
t3 vs b3 percent changes, if both positive = TRUE ----how close of %change 
                          if both negative = TRUE ----how close of %change
                          if opposite = FALSE