In [1]:
!pip install alpha_vantage

Requirement already satisfied: alpha_vantage in /anaconda3/envs/learn-env/lib/python3.6/site-packages (2.1.0)
Requirement already satisfied: requests in /anaconda3/envs/learn-env/lib/python3.6/site-packages (from alpha_vantage) (2.19.1)
Requirement already satisfied: idna<2.8,>=2.5 in /anaconda3/envs/learn-env/lib/python3.6/site-packages (from requests->alpha_vantage) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/envs/learn-env/lib/python3.6/site-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /anaconda3/envs/learn-env/lib/python3.6/site-packages (from requests->alpha_vantage) (1.23)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/envs/learn-env/lib/python3.6/site-packages (from requests->alpha_vantage) (2018.8.13)

In [19]:
import alpha_vantage
%matplotlib inline
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import matplotlib
import matplotlib.pyplot as plt
#importing the required tools for alpha advantage api

apikey = 'JJXIFEPV0N66DTON'
#apikey obtained through alpha vantage website

In [33]:
#alpha vantage api syntax, requiring a function, symbol and market
#using the api key to access api, resulted in output being a pandas dataframe
cc = CryptoCurrencies(key=apikey, output_format='pandas')
DOGE_data, DOGE_meta = cc.get_digital_currency_daily(symbol='DOGE', market='USD')
# VET_data, VET_meta = cc.get_digital_currency_daily(symbol='VET', market='USD')
# TRUE_data, TRUE_meta = cc.get_digital_currency_daily(symbol='TRUE', market='USD')
# STRAT_data, STRAT_meta = cc.get_digital_currency_daily(symbol='STRAT', market='USD')
# XVG_data, XVG_meta = cc.get_digital_currency_daily(symbol='XVG', market='USD')
# AE_data, AE_meta = cc.get_digital_currency_daily(symbol='AE', market='USD')
# LRC_data, LRC_meta = cc.get_digital_currency_daily(symbol='LRC', market='USD')

In [23]:
DOGE_meta

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'DOGE',
 '3. Digital Currency Name': 'DogeCoin',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2019-02-13 (end of day)',
 '7. Time Zone': 'UTC'}

In [24]:
DOGE_data.head()

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2014-04-05,0.000570,0.000570,0.000570,0.000570,0.00054,0.00054,0.000540,0.000540,2.699868e+06,1459.278690
2014-04-06,0.000540,0.000540,0.000590,0.000590,0.00054,0.00054,0.000590,0.000590,1.005976e+06,593.576253
2014-04-07,0.000590,0.000590,0.000590,0.000590,0.00050,0.00050,0.000589,0.000589,3.711035e+06,2187.655098
2014-04-08,0.000589,0.000589,0.000589,0.000589,0.00050,0.00050,0.000567,0.000567,1.827177e+06,1036.904840
2014-04-09,0.000567,0.000567,0.000570,0.000570,0.00052,0.00052,0.000560,0.000560,2.567181e+06,1437.621105

In [25]:
DOGE_data.columns

Index(['1a. open (USD)', '1b. open (USD)', '2a. high (USD)', '2b. high (USD)',
       '3a. low (USD)', '3b. low (USD)', '4a. close (USD)', '4b. close (USD)',
       '5. volume', '6. market cap (USD)'],
      dtype='object')

In [26]:
DOGE_data = DOGE_data.drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)'], axis=1)

In [27]:
DOGE_data.to_csv('DOGE.csv')

In [38]:
#repeated process for another cryptocurrency
cc = CryptoCurrencies(key=apikey, output_format='pandas')
ETH_data, ETH_meta = cc.get_digital_currency_daily(symbol='ETH', market='USD')

KeyError: 'Time Series (Digital Currency Daily)'

In [31]:
ETH_meta

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'ETH',
 '3. Digital Currency Name': 'Ethereum',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2019-02-12 (end of day)',
 '7. Time Zone': 'UTC'}

In [32]:
ETH_data.head()

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2015-08-08,3.00000,3.00000,3.00000,3.00000,0.15000,0.15000,1.19999,1.19999,1942.888147,2331.446348
2015-08-09,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
2015-08-10,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
2015-08-11,1.19999,1.19999,1.19999,1.19999,0.65038,0.65038,0.99000,0.99000,9234.568705,9142.223018
2015-08-12,0.99000,0.99000,1.28800,1.28800,0.90500,0.90500,1.28800,1.28800,1736.114983,2236.116098

In [33]:
ETH_data.columns

Index(['1a. open (USD)', '1b. open (USD)', '2a. high (USD)', '2b. high (USD)',
       '3a. low (USD)', '3b. low (USD)', '4a. close (USD)', '4b. close (USD)',
       '5. volume', '6. market cap (USD)'],
      dtype='object')

In [34]:
ETH_data = ETH_data.drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)'], axis=1)

In [35]:
ETH_data.to_csv('ETH.csv')

In [36]:
#repeated process for another cryptocurrency
cc = CryptoCurrencies(key=apikey, output_format='pandas')
XRP_data, XRP_meta = cc.get_digital_currency_daily(symbol='XRP', market='USD')

In [37]:
XRP_meta

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'XRP',
 '3. Digital Currency Name': 'Ripple',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2019-02-12 (end of day)',
 '7. Time Zone': 'UTC'}

In [38]:
XRP_data.head()

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2014-04-09,0.009407,0.009407,0.009407,0.009407,0.008333,0.008333,0.008333,0.008333,1658.399999,13.820000
2014-04-10,0.008333,0.008333,0.008333,0.008333,0.006796,0.006796,0.006796,0.006796,10037.029375,68.216000
2014-04-11,0.006796,0.006796,0.006983,0.006983,0.006727,0.006727,0.006727,0.006727,184.338400,1.240000
2014-04-12,0.006727,0.006727,0.006893,0.006893,0.006727,0.006727,0.006880,0.006880,7965.670792,54.803000
2014-04-13,0.006880,0.006880,0.006880,0.006880,0.006515,0.006515,0.006515,0.006515,91.700000,0.597468

In [39]:
XRP_data.columns

Index(['1a. open (USD)', '1b. open (USD)', '2a. high (USD)', '2b. high (USD)',
       '3a. low (USD)', '3b. low (USD)', '4a. close (USD)', '4b. close (USD)',
       '5. volume', '6. market cap (USD)'],
      dtype='object')

In [40]:
XRP_data = XRP_data.drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)'], axis=1)

In [41]:
XRP_data.to_csv('XRP.csv')