In [150]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [151]:
# BTC = pd.read_csv('BTC.csv').drop(['Unnamed: 0'], axis=1)
# ETH = pd.read_csv('ETH.csv').drop(['Unnamed: 0'], axis=1)
# XRP = pd.read_csv('XRP.csv').drop(['Unnamed: 0'], axis=1)
# WAN = pd.read_csv('WAN').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
# ELA = pd.read_csv('ELA').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
# KCS = pd.read_csv('KCS').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
VET = pd.read_csv('VET.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
AOA = pd.read_csv('AOA.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
AE = pd.read_csv('AE.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
TUSD = pd.read_csv('TUSD.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
XVG = pd.read_csv('XVG.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
STRAT = pd.read_csv('STRAT.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
QNT = pd.read_csv('QNT.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
LRC = pd.read_csv('LRC.csv').drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 1'], axis=1)
DOGE = pd.read_csv('DOGE.csv').drop(['Unnamed: 0'], axis=1)

In [152]:
DOGE.columns

Index(['Date', 'Open(USD)', 'High(USD)', 'Low(USD)', 'Close(USD)', 'Volume',
       'Market Cap(USD)'],
      dtype='object')

In [153]:
VET.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,Date,Open*,High,Low,Close**,Volume,Market Cap
1,"Feb 13, 2019",0.003937,0.003976,0.003859,0.003876,"3,182,996","214,919,064"
2,"Feb 12, 2019",0.003921,0.003950,0.003843,0.003924,"3,227,572","217,588,784"
3,"Feb 11, 2019",0.004048,0.004048,0.003908,0.003909,"3,260,261","216,769,109"
4,"Feb 10, 2019",0.004022,0.004131,0.003939,0.004044,"5,229,670","224,236,626"

In [137]:
newsymbols= ['VET','AOA', 'AE', 'TUSD', 'XVG', 'STRAT', 'QNT', 'LRC', 'DOGE']

In [138]:
DOGE.shape

(326, 7)

In [139]:
DOGE_close = DOGE.loc[:, ['Close(USD)']].values

In [140]:
DOGE_close

array([[0.0019266 ],
       [0.00197246],
       [0.00198858],
       [0.00200946],
       [0.0019691 ],
       [0.00193144],
       [0.00185799],
       [0.00197848],
       [0.00201472],
       [0.00201145],
       [0.00195616],
       [0.00197078],
       [0.00201663],
       [0.00205558],
       [0.00198649],
       [0.00208414],
       [0.00213546],
       [0.00218117],
       [0.00218958],
       [0.00218149],
       [0.00219915],
       [0.00220622],
       [0.00220798],
       [0.00217897],
       [0.00225641],
       [0.00222259],
       [0.00212943],
       [0.00227633],
       [0.00216447],
       [0.00228669],
       [0.00212598],
       [0.00226821],
       [0.00223229],
       [0.00228875],
       [0.00231141],
       [0.0022828 ],
       [0.00228696],
       [0.00233228],
       [0.00242191],
       [0.00242349],
       [0.00248848],
       [0.00251316],
       [0.00251736],
       [0.0024584 ],
       [0.00246119],
       [0.00249589],
       [0.00251462],
       [0.00242103],
       [0.00252071],
       [0.00251331],
       [0.00262836],
       [0.00261217],
       [0.00260313],
       [0.00265909],
       [0.00278437],
       [0.00282046],
       [0.00264459],
       [0.00264862],
       [0.00217562],
       [0.00215478],
       [0.00217283],
       [0.0021799 ],
       [0.00216951],
       [0.00216333],
       [0.00216987],
       [0.00217798],
       [0.00225734],
       [0.00221808],
       [0.00225788],
       [0.00231463],
       [0.00232132],
       [0.00231004],
       [0.00231824],
       [0.00233305],
       [0.0022707 ],
       [0.00232747],
       [0.00232366],
       [0.00222889],
       [0.00220333],
       [0.00231862],
       [0.00234936],
       [0.00243434],
       [0.00248158],
       [0.00255136],
       [0.00244912],
       [0.00259136],
       [0.0027763 ],
       [0.00278617],
       [0.00295928],
       [0.0030636 ],
       [0.00300439],
       [0.00308081],
       [0.00315356],
       [0.00325568],
       [0.00341684],
       [0.00323416],
       [0.00350155],
       [0.00366651],
       [0.00375848],
       [0.0036919 ],
       [0.00380818],
       [0.00383086],
       [0.00391375],
       [0.00390505],
       [0.00392852],
       [0.00392414],
       [0.00388836],
       [0.00406781],
       [0.00417399],
       [0.00389816],
       [0.00373721],
       [0.00393406],
       [0.00420181],
       [0.00436983],
       [0.00451024],
       [0.00453479],
       [0.00451772],
       [0.00435486],
       [0.00453279],
       [0.00497649],
       [0.00513562],
       [0.00514252],
       [0.00515573],
       [0.00522374],
       [0.00494936],
       [0.00559905],
       [0.00560747],
       [0.00560758],
       [0.00554684],
       [0.00553274],
       [0.00565268],
       [0.00568671],
       [0.00572653],
       [0.00584076],
       [0.00596572],
       [0.00589865],
       [0.00586636],
       [0.00591339],
       [0.0058893 ],
       [0.00574769],
       [0.00570029],
       [0.00573773],
       [0.00584898],
       [0.00579237],
       [0.00567946],
       [0.00570552],
       [0.00563469],
       [0.00604959],
       [0.00622726],
       [0.006438  ],
       [0.0061726 ],
       [0.00617414],
       [0.00651832],
       [0.00645531],
       [0.00639668],
       [0.00675572],
       [0.00580376],
       [0.00566772],
       [0.00532129],
       [0.0049798 ],
       [0.00500819],
       [0.00524075],
       [0.0052039 ],
       [0.00489282],
       [0.00609017],
       [0.00430616],
       [0.00306731],
       [0.00259473],
       [0.00254486],
       [0.00249279],
       [0.00243256],
       [0.00245048],
       [0.00244819],
       [0.00239038],
       [0.00248925],
       [0.00247892],
       [0.00250133],
       [0.00247744],
       [0.00247095],
       [0.00247584],
       [0.00233125],
       [0.00241738],
       [0.00223586],
       [0.00245512],
       [0.00248467],
       [0.00261065],
       [0.00259432],
       [0.00264179],
       [0.00254835],
       [0.0028069 ],
       [0.00284684],
       [0.00295291],
       [0.00292667],
       [0.0029784 ],
       [0.00306678],
       [0.00303629],
       [0.00315678],
       [0.00325604],
       [0.00327651],
       [0.00338024],
       [0.00344212],
       [0.00346835],
       [0.00343477],
       [0.00360033],
       [0.00343524],
       [0.00347163],
       [0.00338203],
       [0.00335138],
       [0.00383098],
       [0.00370785],
       [0.00306304],
       [0.00259977],
       [0.00242557],
       [0.00235828],
       [0.00240705],
       [0.00238019],
       [0.00242855],
       [0.00250429],
       [0.00259077],
       [0.00262929],
       [0.0026111 ],
       [0.00261782],
       [0.00261406],
       [0.00269924],
       [0.00268043],
       [0.00254215],
       [0.00253103],
       [0.00251781],
       [0.00244833],
       [0.00243082],
       [0.00243443],
       [0.00248967],
       [0.00252748],
       [0.00252226],
       [0.00268448],
       [0.00285538],
       [0.003079  ],
       [0.0030843 ],
       [0.00314883],
       [0.00304224],
       [0.00301751],
       [0.00293151],
       [0.00294779],
       [0.00301208],
       [0.00306217],
       [0.00320031],
       [0.00322909],
       [0.00338611],
       [0.00369233],
       [0.00368183],
       [0.00376561],
       [0.00369243],
       [0.0036124 ],
       [0.00360813],
       [0.00365606],
       [0.00354051],
       [0.00342994],
       [0.00349838],
       [0.00341627],
       [0.00342296],
       [0.0033651 ],
       [0.00356242],
       [0.00359152],
       [0.00359315],
       [0.00359523],
       [0.00372598],
       [0.004215  ],
       [0.0042913 ],
       [0.00439845],
       [0.00436269],
       [0.00427436],
       [0.00438399],
       [0.00442684],
       [0.00452039],
       [0.00445898],
       [0.00451689],
       [0.00429528],
       [0.00458093],
       [0.00499616],
       [0.00506275],
       [0.00525359],
       [0.00487618],
       [0.0050058 ],
       [0.00521983],
       [0.00526626],
       [0.00541601],
       [0.00536348],
       [0.00528027],
       [0.00536881],
       [0.00546367],
       [0.00550702],
       [0.00550872],
       [0.00539223],
       [0.0051833 ],
       [0.00585556],
       [0.00562007],
       [0.00564176],
       [0.00550981],
       [0.00589512],
       [0.00570986],
       [0.00530658],
       [0.00489742],
       [0.00452136],
       [0.00437724],
       [0.00424298],
       [0.00415301],
       [0.00350726],
       [0.00336743],
       [0.00294304],
       [0.0028044 ],
       [0.00287017],
       [0.00282978],
       [0.00270612],
       [0.00276497],
       [0.00276409],
       [0.00303731],
       [0.00293235],
       [0.00283735],
       [0.00287597],
       [0.00292705],
       [0.00317658],
       [0.00334604],
       [0.00325329],
       [0.00335271],
       [0.00359276],
       [0.00368941]])

In [154]:
DOGE.loc[:, ['Close(USD)']].head()

   Close(USD)
0    0.001927
1    0.001972
2    0.001989
3    0.002009
4    0.001969

In [142]:
newsymbols

['VET', 'AOA', 'AE', 'TUSD', 'XVG', 'STRAT', 'QNT', 'LRC', 'DOGE']

In [49]:
VET.shape

(196, 7)

In [47]:
VET.drop(VET.tail(1).index,inplace=True)

In [48]:
VET.tail()

,Date,Open*,High,Low,Close**,Volume,Market Cap
191,"Aug 07, 2018",0.013315,0.014457,0.012163,0.012899,"21,022,400","715,321,715"
192,"Aug 06, 2018",0.013963,0.014308,0.012930,0.013424,"18,774,100","744,440,996"
193,"Aug 05, 2018",0.013428,0.014295,0.012696,0.014081,"19,746,000","780,858,121"
194,"Aug 04, 2018",0.015218,0.015944,0.012377,0.013333,"27,059,500","739,350,252"
195,"Aug 03, 2018",0.015041,0.015730,0.014938,0.015307,"46,250,600","848,840,080"

In [155]:
DOGE.columns

Index(['Date', 'Open(USD)', 'High(USD)', 'Low(USD)', 'Close(USD)', 'Volume',
       'Market Cap(USD)'],
      dtype='object')

In [156]:
DOGE.loc[:,'Close(USD)'].head()

0    0.001927
1    0.001972
2    0.001989
3    0.002009
4    0.001969
Name: Close(USD), dtype: float64

In [147]:
TUSD.loc[:,'Close**']

0       Close**
1          1.01
2          1.02
3          1.01
4          1.02
5          1.01
6          1.01
7          1.01
8          1.01
9          1.01
10         1.01
11         1.01
12         1.01
13         1.02
14         1.01
15         1.01
16         1.01
17         1.01
18         1.01
19         1.01
20         1.01
21         1.01
22         1.01
23         1.01
24         1.01
25         1.02
26         1.01
27         1.01
28         1.01
29         1.01
         ...
298    0.998857
299        1.01
300    0.991088
301    0.998710
302        1.00
303    0.994880
304    0.998114
305        1.00
306        1.01
307        1.01
308        1.01
309        1.01
310    0.999562
311        1.01
312        1.01
313        1.01
314        1.01
315        1.01
316        1.00
317        1.00
318    0.997387
319        1.01
320        1.00
321    0.994400
322        1.01
323        1.00
324    0.999424
325        1.00
326    0.995833
327    0.998900
Name: Close**, Length: 328, dtype: object

In [168]:
VET.loc[196:196,'Close**']

196    $3,182,996 USD
Name: Close**, dtype: object

In [169]:
DOGE_close_pctchange = DOGE.loc[:,'Close(USD)'].pct_change()

TUSD_close_pctchange = pd.to_numeric(TUSD.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
XVG_close_pctchange = pd.to_numeric(XVG.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
STRAT_close_pctchange = pd.to_numeric(STRAT.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
QNT_close_pctchange = pd.to_numeric(QNT.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
LRC_close_pctchange = pd.to_numeric(LRC.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
AOA_close_pctchange = pd.to_numeric(AOA.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
AE_close_pctchange = pd.to_numeric(AE.loc[:,'Close**'].drop([0])).drop([1]).pct_change()
VET_close_pctchange = pd.to_numeric(VET.loc[:,'Close**'].drop([0]).drop([196])).drop([1]).pct_change()
LRC_close_pctchange = pd.to_numeric(LRC.loc[:,'Close**'].drop([0])).drop([1]).pct_change()

In [174]:
VET_close_pctchange.tail()

191    0.197012
192    0.040701
193    0.048942
194   -0.053121
195    0.148054
Name: Close**, dtype: float64

In [167]:
newsymbols

['VET', 'AOA', 'AE', 'TUSD', 'XVG', 'STRAT', 'QNT', 'LRC', 'DOGE']

In [175]:
VET.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,Date,Open*,High,Low,Close**,Volume,Market Cap
1,"Feb 13, 2019",0.003937,0.003976,0.003859,0.003876,"3,182,996","214,919,064"
2,"Feb 12, 2019",0.003921,0.003950,0.003843,0.003924,"3,227,572","217,588,784"
3,"Feb 11, 2019",0.004048,0.004048,0.003908,0.003909,"3,260,261","216,769,109"
4,"Feb 10, 2019",0.004022,0.004131,0.003939,0.004044,"5,229,670","224,236,626"

In [176]:
VET['Close Percent Change'] = VET_close_pctchange
AOA['Close Percent Change'] = AOA_close_pctchange
AE['Close Percent Change'] = AE_close_pctchange
TUSD['Close Percent Change'] = TUSD_close_pctchange
XVG['Close Percent Change'] = XVG_close_pctchange
STRAT['Close Percent Change'] = STRAT_close_pctchange
QNT['Close Percent Change'] = QNT_close_pctchange
LRC['Close Percent Change'] = LRC_close_pctchange
DOGE['Close Percent Change'] = DOGE_close_pctchange

In [177]:
VET.shape, AOA.shape, AE.shape, TUSD.shape, XVG.shape, STRAT.shape, QNT.shape, LRC.shape, DOGE.shape

((197, 8),
 (234, 8),
 (328, 8),
 (328, 8),
 (328, 8),
 (328, 8),
 (189, 8),
 (328, 8),
 (326, 8))

In [119]:
VET = VET.drop([0,1,2])

In [186]:
LRC.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap,Close Percent Change
0,Date,Open*,High,Low,Close**,Volume,Market Cap,NaN
1,"Feb 13, 2019",0.053778,0.054505,0.053050,0.053468,"906,239","42,185,329",NaN
2,"Feb 12, 2019",0.053781,0.054004,0.053102,0.053773,"764,100","42,425,924",NaN
3,"Feb 11, 2019",0.055186,0.055490,0.053467,0.053827,"990,393","42,468,467",0.001004
4,"Feb 10, 2019",0.054593,0.055479,0.052695,0.055287,"1,016,308","43,620,761",0.027124

In [187]:
AOA = AOA.drop([0,1,2])
AE = AE.drop([0,1,2])
TUSD = TUSD.drop([0,1,2])
XVG = XVG.drop([0,1,2])
STRAT = STRAT.drop([0,1,2])
QNT = QNT.drop([0,1,2])
LRC = LRC.drop([0,1,2])
DOGE = DOGE.drop([0])

In [195]:
DOGE.head()

,Date,Open(USD),High(USD),Low(USD),Close(USD),Volume,Market Cap(USD),Close Percent Change
1,2019-02-11,0.001989,0.002001,0.001873,0.001972,1.173383e+09,2.314455e+06,0.023804
2,2019-02-10,0.002009,0.002012,0.001958,0.001989,1.150180e+09,2.287227e+06,0.008173
3,2019-02-09,0.001969,0.002022,0.001952,0.002009,1.150091e+09,2.311062e+06,0.010500
4,2019-02-08,0.001931,0.001983,0.001914,0.001969,1.174367e+09,2.312449e+06,-0.020085
5,2019-02-07,0.001858,0.001945,0.001831,0.001931,1.169249e+09,2.258329e+06,-0.019125

In [196]:
VET.to_csv('VET.csv')
AOA.to_csv('AOA.csv')
AE.to_csv('AE.csv')
STRAT.to_csv('STRAT.csv')
XVG.to_csv('XVG.csv')
STRAT.to_csv('STRAT.csv')
LRC.to_csv('LRC.csv')
DOGE.to_csv('DOGE.csv')
TUSD.to_csv('TUSD.csv')
QNT.to_csv('QNT.csv')

Comparison
t3 vs b3 percent changes, if both positive = TRUE ----how close of %change 
                          if both negative = TRUE ----how close of %change
                          if opposite = FALSE